*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
:root{
    --ombreClaire: rgb(182, 218, 240);
    --blancGris: rgb(242, 241, 255);
}

body{
    position: relative;
}


/* Les ancres */
.anchor{
    position: absolute;
    transition: all 0.5s ease-in-out;
}
#anchor1{
    top: 0;
}
#anchor2{
    top: 100vh;
}
#anchor3{
    top: 200vh;
}
#anchor4{
    top: 300vh;
}


/* Limage de fond */
.image{
    position: absolute;
    background-image: url(./Image/PaysageAasiatiqueAvecMontgolfieres.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
#image2{
    top: 100vh;
}
#image3{
    top: 200vh;
}
#image4{
    top: 300vh;
}

/* Asceseur montant */
.fa-arrow-up-short-wide{
    position: fixed;
    top: 50vh;
    left: 110vw;
    font-size: 1.3em;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
#ascensor{
    color:black;
}


/* Menu de navigation */
#headBand {
    position: sticky;
    z-index: 5;
    top: 0;
    left: 0;
    height: 6vh;
    width: calc(100vw - 20px);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
}
#logo{
    margin: 60px 32px 18px 15px;
    width: 10vw;
}
#navBar{
    margin: auto 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
#navlink{
    padding-left: 0;
}
#navlink a{
    color: var(--blanc);
    text-align: center;
    display: flex;
    padding: 10px;
    margin: 8px 15px 8px 15px;
    transition: all 0.4s ease-in-out;
}
#navlink > li > a:hover{
    transform: scale(110%) skewX(-10deg);
    border-radius: 2px solid black;
}
.nav{
    text-decoration: none;
}
.link{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}


/* Icones linkedin et github */
#navPlatforms{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    border-radius: 4px;
    box-shadow: -1px -1px 33px 4px var(--ombreClaire);
}
.fa-brands{
    margin:9px;
    font-size: 1.5em;
}
.fa-brands:hover{
    cursor: pointer;
}


/* Zone dinformations des 4 articles */
main{
    height: 400vh;
    margin-top:-19vh;
}
section{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
    box-shadow: none;
}
#about-sec1{
    margin-top: calc(11vh - 2px);
}
article{
    box-shadow: 0 -1px 20px 5px var(--ombreClaire);
    margin: 20vh auto;
    width: 73vw;
    height: 60vh;
    position: relative;
    z-index: 0;
}
#about-art1, #services-art2{
    box-shadow: none;
}
h1{
    display: none;
}
h2{
    margin-bottom: 20px;
    position: absolute;
    top: -32px;
    font-size: 100%;
}
p{
    color: black;
    width: 60%;
    height: 60%;
    margin: 8% 0 8% 8vw;
}


/*  Formulaire de contact */
#form{
    width: 90%;
    margin: 0 auto;
}
.subGroup{
    display: flex;
    flex-direction: column;
}
#content{
    margin-right: 2%;
}
#PersonalInfos{
    display: flex;
    flex-direction: row;
    margin: 6% 0 2%;
}
#titleSubject{
    margin: 1% 0.5% 1%;
}
#subject{
    width: 94%;
    height: 40%;
    margin: 4% 0 4%;
}
#buttons{
    display: flex;
    justify-content: space-around;
}
#name, #firstName{
    width: 56%;
}
#email{
    width: 40.2%;
}
input[type="text"], input[type="email"], textarea{
    outline: none;
}
input[type="submit"], input[type="reset"]{
    cursor: pointer;
    background-color: var(--bleu);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    background-color: orange;
    border-radius: 10px 10px 10px 10px;
}
span{
    font-family: fantasy;
    font-weight: 100;
}


/* Footer */
footer{
    position: absolute;
    bottom: 0;
    height: 3vh;
    width: 100%;
    background-color: transparent;
    font-size: 70%;
}
#pub{
    text-align: center;
    margin: 0.2% 0 0;
    width: 100%;
    color: white;
}


/* Animation */