*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif, Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
:root{
    --ombreGrise: rgb(98 98 26);
    --texteRouge: rgb(158 31 31 / 90%);
    --texteOrangePale:  rgb(244, 215, 162);
}
a, p, h1, h2, h3, i{
    font-family: fantasy;
    font-weight: 100;
    color: var(--texteRouge);
}
a{
    font-size: 1.1em;
}
li{
    list-style-type: none;
}
h1{
    display: none;
}
h2{
    margin-bottom: 20px;
    position: absolute;
    top: -32px;
    font-size: 100%;
}
#p1, #p2, #p3{
    font-size: clamp(1.3vw, 1.8vw, 2.1vw);
    color: var(--texteOrangePale) !important;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#p4{
    font-size: clamp(0.8vw, 1.2vw, 1.8vw);
    padding-top: 18vh;
    color: var(--texteOrangePale) !important;
    display: inline-block;
    width: 70vw;
    text-align: end;
    font-family: kanit;
    opacity: 1;
    transition: opacity 0.5s ease;
}
body{
    position: relative;
    height: 400vh;
}


/* Les ancres */
.anchor{
    position: absolute;
    transition: all 0.5s ease-in-out;
}
#anchor1{
    top: 0;
}
#anchor2{
    top: 100vh;
}
#anchor3{
    top: 200vh;
}
#anchor4{
    top: 300vh;
}



/* Les images de fond */
.image{
    position: absolute;
    background-image: url(./Image/PaysageAasiatiqueAvecMontgolfieres.webp);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    width: 100%;
    height: 100vh;
}
#image2{
    top: 100vh;
}
#image3{
    top: 200vh;
}
#image4{
    top: 300vh;
}

/* Ascenseur montant */
.fa-arrow-up-short-wide{
    position: fixed;
    top: 50vh;
    left: 110vw;
    font-size: 1.3em;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}


/* Menu de navigation */
#headBand {
    position: sticky;
    z-index: 5;
    top: 0;
    left: 0;
    height: 6vh;
    width: calc(100vw - 20px);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
}
#logo{
    margin: 60px 32px 18px 15px;
    width: 10vw;
}
#navBar{
    margin: auto 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
#navlink{
    padding-left: 0;
}
#navlink a{
    text-align: center;
    display: flex;
    padding: 10px;
    margin: 8px 15px 8px 15px;
    transition: all 0.4s ease-in-out;
}
#navlink > li > a:hover{
    transform: scale(110%) skewX(-10deg);
}
.nav{
    text-decoration: none;
}
.link{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}


/* Icones linkedin et github */
#navPlatforms{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    border-radius: 4px;
    box-shadow: -1px -1px 33px 4px var(--ombreGrise);
}
.fa-brands{
    margin:9px;
    font-size: 1.5em;
}
.fa-brands:hover{
    cursor: pointer;
}


/* Zone dinformations des 4 articles */
main{
    height: 400vh;
    margin-top:-19vh;
}
section{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
    box-shadow: none;
}
#about-sec1{
    margin-top: calc(11vh - 2px);
}
article{
    box-shadow: 9px 6px 20px var(--ombreGrise);
    margin: 16vh auto 10vh;
    width: 65vw;
    height: 55vh;
    position: relative;
    z-index: 0;
    border-radius: 15px;
    backdrop-filter: blur(12px);
}


/* Zone "A propos" */
#about-art1{
    box-shadow: none;
    backdrop-filter: blur(0);
    margin: 0 auto;
}
#aboutText{
    width: 70vw;
    padding-top: 10vh; 
}
#aboutText > p {
    margin: 0 0 2vh 0vw;
    color: var(--texteGris);
}


/* Zone "Mes competences" */
#competences-art3{
    box-shadow: none;
    backdrop-filter: blur(0);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* padding-top: 3vh; */
    height: auto;
    margin-top: -4vh;
}
.containerList{
    border: 1px dashed black;
    border-radius: 10px;
    padding: 1.4vh 1vw;
}
#firstCompetences, #secondaryCompetences{
    position: initial;
    font-size: 1.3em;
}


/* Zone "Mes réalisations" */
#realazations-art3{
    padding: 4vh 3vw;
    overflow-y: hidden;
}
#containerCards{
    display: flex;
    flex-wrap: wrap;
    height: 47vh;
}
.cards{
    width: 17vw;
    height: 21vh;
    border: 1px solid black;
    border-radius: 15px;
    margin: auto;
}


/* Zone "Contact" */
#form{
    width: 91%;
    height: 84%;
    margin: 0 auto;
}
.subGroup{
    display: flex;
    flex-direction: column;
}
#content{
    margin-right: 2%;
}
#personalInfos{
    display: flex;
    flex-direction: row;
    margin: 6% 0 2%;
}
#titleSubject{
    margin: 1% 0.5% 1%;
}
#subject{
    width: 100%;
    height: 40%;
    margin: 6% 0 2.5%;
    border-radius: 8px;
}
#textSubject{
    padding: 10px;
    margin: 5px;
}
#buttons{
    display: flex;
    justify-content: space-around;
}
#name, #firstName{
    width: 56%;
}
#email{
    width: 25%;
}
#contact-art4{
    position: relative;
}
#emailPic{
    position: absolute;
    background-image: url(./Image/Lettre.webp);
    background-repeat: no-repeat;
    background-size: contain;
    height: 10vw;
    width: 25vh;
    left: 42vw;
    top: 7vh;
}
label{
    font-size: clamp(0.8vw, 0.9vw, 1vw);
    font-family: sans-serif;
}
input[type="text"], input[type="email"], textarea{
    outline: none;
    border-radius: 5px 5px 5px 5px;
    padding-left: 5px;
    font-family: sans-serif;
}
input[type="submit"], input[type="reset"]{
    cursor: pointer;
    font-family:monospace;
    border-radius: 4px;
    padding: 10px;
    background-color: orange;
    border-radius: 10px 10px 10px 10px;
}


/* Footer */
footer{
    position: absolute;
    bottom: 0;
    height: 3vh;
    width: 100%;
    background-color: transparent;
    font-size: 70%;
}
#pub{
    text-align: center;
    margin: 0.2% 0 0;
    width: 100%;
    color: white;
}


/* Animation */