*{
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --ombreClaire: rgb(182, 218, 240);
    --blancGris: rgb(242, 241, 255);
}
body{
    background-color: var(--blancGris);
    background-size:cover;
    margin-top: 7vh;
    position: relative;
}

/* Les ancres */
.anchor{
    position: absolute;
    transition: all 0.5s ease-in-out;
    top: -19vh;
}
#anchor1, #anchor2, #anchor3, #anchor4{
    top: -19vh;
}

/* Limage de fond */
.image{
    position: absolute;
    background-image: url(./Front/Images/PaysageAasiatiqueAvecMontgolfieres.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    width: 100%;
    height: 100vh;
    margin-top: -7vh;
}

/* Asceseur montant */
.fa-up{
    visibility: none;
}

/* Menu de navigation */
#headBand {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    height: 65px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
}
#logo{
    margin: 60px 32px 18px 15px;
    width: 10vw;
}
#navBar{
    margin: auto 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
#navlink{
    padding-left: 0;
}
#navlink a{
    color: var(--blanc);
    text-align: center;
    display: flex;
    padding: 10px;
    margin: 8px 15px 8px 15px;
    transition: all 0.4s ease-in-out;
}
#navlink > li > a:hover{
    transform: scale(110%) skewX(-10deg);
    border-radius: 2px solid black;
}
.nav{
    text-decoration: none;
}
.link{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}


/* Icones linkedin et github */
#navPlatforms{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    border-radius: 4px;
    box-shadow: -1px -1px 33px 4px var(--ombreClaire);
}
.fa-brands{
    margin:9px;
}
.fa-brands:hover{
    cursor: pointer;
}
.fa-brands{
    font-size: 1.5em;
}


/* Zone dinformations des 4 sections */
section:first-of-type{
    box-shadow: none;
}
section{
    box-shadow: -1px -1px 20px 5px var(--ombreClaire);
    height: 65vh;
    width: 73vw;
    margin: 0 auto;
    margin-bottom: 220px;
    padding: 30px;
    position: relative;
    z-index: 0;
    border-radius: 8px;
}
section:first-of-type{
    margin-top: 19vh;
}
section:last-of-type{
    margin-bottom: 10vh;
}
h1{
    display: none;
}
h2{
    margin-bottom: 20px;
    position: absolute;
    top: -32px;
    font-size: 100%;
}
p{
    color: black;
    width: 60%;
    height: 60%;
    margin: 8% 0 8% 8vw;
}
label{
    margin: 8px 25px 2px;
}
input{
    margin: 0 25px 0;
}
.subGroup{
    display: flex;
    flex-direction: column;
}
#PersonalInfos{
    width: 40vw;
    height: 28%;
    margin-bottom: 6%;
}
#titleSubject{
    margin: 1% 0.5% 1%;
}
#subject{
    width: 94%;
    height: 40%;
    margin: 10px 25px 40px;
}
#buttons{
    display: flex;
    justify-content: space-around;
}
#name, #firstName{
    width: 15vw;
}
#email{
    width: 25vw;
}
input[type="submit"], input[type="reset"]{
    cursor: pointer;
    background-color: var(--bleu);
    color: var(--blanc);
    border: none;
    border-radius: 4px;
    padding: 10px;
}


/* Footer */
#bandeauFooter{
    position: absolute;
    bottom: -10vh;
    height: 3vh;
    width: 100%;
    background-color: orange;
    font-size: 70%;
}
#pub{
    text-align: center;
    margin: 0;
    width: 100%;
    padding-top: 4px;
}