#headBand {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(192,192,192, 0.3)
}
#logo{
    width: 8vw;
}
#navBar{
    height: 5vw;
}
#navlink{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
#navlink a{
    color: white;
}
.nav{
    text-decoration: none;
    margin-right: 25px;
}